@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(../public//fon.png);
  color: #ffff !important;
}

footer {
  background: #ffffff34;
  margin-top: 20px;
}
.border {
  border: 2px solid #ffffff44 !important;
}
